*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
iframe {
  height: 100%;
  width: 100%;
}

.head {
  height: calc(1.5em + 20px);
  text-align: center;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 600;
  background-color: #EDEDED;
}

a{
  text-decoration: none;
  color: black;
}

button.mode-button {
  margin-left: 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  
}

button.save-button {
  margin-left: 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: #7952B3;
  color: #EDEDED;
}

.container { width: 100%;}
.editor-container{ flex: 1; height: calc(100vh - 1.5em - 25px); border-right: black solid; }
.output-container{flex: 1;}


@media (max-width: 768px) {

  .head {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
  h2 {
    font-size: large;
  }
  .container {
      flex-direction: column;
      width: 100vw;
      height: fit-content;
  }
  .editor-container, .output-container{
    flex: unset;
    border-right: unset;
  }
  .output-container{
    height: 100vh;
  }
}